{% extends "base.njk" %}

{% block content %}

    <section class="site-home">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="site-home-content text-center">
              {#
              <h6>{{home.subTitle}}</h6>
              <h1>
                {{home.title.firstPara}}
                <br>
                {{home.title.secondPara}}
              </h1>
              <ul class="site-home-content-buttons">
                <li>
                  <a href="{{home.seeWorkBtn.link | url}}" class="btn btn-secondary scroll-to">
                    <span class="btn-area">
                      <span data-text="{{home.seeWorkBtn.text}}">
                        {{home.seeWorkBtn.text}}
                      </span>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="{{home.connectBtn.link | url}}" class="btn btn-primary scroll-to">
                    <span class="btn-area">
                      <span data-text="{{home.connectBtn.text}}">
                        {{home.connectBtn.text}}
                      </span>
                    </span>
                  </a>
                </li>
              </ul>
              #}
            </div>
          </div>
        </div>
      </div>
      <a href="#design_projects" class="site-home-scroll scroll-to">
        <img src="{{'/assets/images/arrow-down-blue.png' | url}}" alt="arrow-down">
      </a>
    </section>

    <section class="site-project" id="design_projects">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-12">
            <div class="section-title">
              <h2>{{portfolio_design.title}}</h2>
              <p>{{portfolio_design.subTitle}}</p>
            </div>
          </div>
          {% for portfolio in collections.design_portfolios %}
          <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
            <div class="site-project-item" onclick="window.location.href='{{portfolio.url | url}}'">
              <div class="site-project-item-thumb">
                <img src="{{portfolio.data.img | url}}" alt="project-thumb">
              </div>
              <div class="site-project-item-content">
                <h3 style="color:{{portfolio.data.titleColor}}">{{portfolio.data.title}}</h3>
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="col-12 text-center text-lg-left">
            <a href="{{portfolio_design.seeAllbtn.link | url}}" class="site-project-cta">{{portfolio_design.seeAllbtn.text}}</a>
          </div>
        </div>
      </div>
    </section>
    <section class="site-project" id="craft_projects">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h2>{{portfolio_craft.title}}</h2>
              <p>{{portfolio_craft.subTitle}}</p>
            </div>
          </div>
          {% for portfolio in collections.craft_portfolios %}
          <div class="col-lg-4 col-md-6 mx-auto">
            <div class="site-project-item" onclick="window.location.href='{{portfolio.url | url}}'">
              <div class="site-project-item-thumb">
                <img src="{{portfolio.data.img | url}}" alt="project-thumb">
              </div>
              <div class="site-project-item-content">
                <h3 style="color:{{portfolio.data.titleColor}}">{{portfolio.data.title}}</h3>
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="col-12 text-center text-lg-left">
            <a href="/{{portfolio_craft.seeAllbtn.link | url}}" class="site-project-cta">{{portfolio_craft.seeAllbtn.text}}</a>
          </div>
        </div>
      </div>
    </section>

{% endblock %}